{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:import/recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/react"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "globals": {
        "shallow": true,
        "render": true,
        "mount": true
    },
    "plugins": ["@typescript-eslint", "react", "prettier", "jsx-a11y", "jsdoc", "jest"],
    "rules": {
        "@typescript-eslint/rule-name": "error",
        "prettier/prettier": 1
    }
}
