@use "styles/variables";

html,
body,
#root {
    height: 100%;
    font-size: 1rem;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body.using-mouse {
    :focus,
    [class$="-is-focused"] {
        outline: none;
        box-shadow: initial;
    }
}
main {
    padding: 1rem;
}
h1,
h2,
h3 {
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.1rem;
}
