@use "styles/variables";

html,
body,
#root {
    height: 100%;
    font-size: 1rem;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body.using-mouse {
    :focus,
    [class$="-is-focused"] {
        outline: none;
        box-shadow: initial;
    }
}
