:root {
    --color-text-dark: #ededed;
    --color-bg-dark: #222222;
    --color-link-dark: #aaaaaa;
    --color-link-visited-dark: #777777;
    --color-link-hover-dark: #ffffff;

    --color-text-light: #222222;
    --color-bg-light: #e1e1e1;
    --color-link-light: #0066cc;
    --color-link-visited-light: #551a8b;
    --color-link-hover-light: #004080;

    --color-error: darkred;
    --color-error-info: #777777;
}

html.theme-light {
    --color-text: var(--color-text-light);
    --color-bg: var(--color-bg-light);
    --color-link: var(--color-link-light);
    --color-link-visited: var(--color-link-visited-light);
    --color-link-hover: var(--color-link-hover-light);
}
html.theme-dark {
    --color-text: var(--color-text-dark);
    --color-bg: var(--color-bg-dark);
    --color-link: var(--color-link-dark);
    --color-link-visited: var(--color-link-visited-dark);
    --color-link-hover: var(--color-link-hover-dark);
}
