@use "styles/variables";

.app {
    font-family: "Roboto Mono", "Courier New", "Courier", monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text);
    a {
        color: var(--color-link);
        &:visited {
            color: var(--color-link-visited);
        }
        &:hover {
            color: var(--color-link-hover);
        }
    }
    @font-face {
        font-family: "Roboto Mono";
        src:
            url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
            url("../fonts/RobotoMono-Regular.woff") format("woff");
        font-display: swap;
    }
}
.error {
    color: var(--color-error);
    margin: 0.8rem 1rem;
}
.errorInfo {
    color: var(--color-error-info);
    margin-top: 1rem;
}
