.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    path {
        fill: var(--color-text);
    }
    a {
        text-decoration: none;
    }
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-text);
}
.themeToggle {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    line-height: 0;
    cursor: pointer;
    &:hover path {
        fill: var(--color-link-hover) !important;
    }
}
.gitHubLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    &:hover path {
        fill: var(--color-link-hover) !important;
    }
}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
